body{
    background-color: antiquewhite;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    font-weight: 43.75rem;
    margin-block: 3.35rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

button{
    background-color: burlywood;
    width: 15.625rem;
    padding: 1.875rem;
    color:#fff;
}

button:hover{
    background-color: darkgrey;
}